{% extends "base.twig" %}

{% block content %}

	<section class="section">
		<article itemscope itemtype="http://schema.org/CreativeWork">
			<header>
				<div class="row">
					<div class="columns">
						<h1 itemprop="headline">
							{{ post.title }}
						</h1>
					</div>
				</div>
			</header>
			<div class="entry-content post-typography" itemprop="text">
				<div class="row">
					<div class="columns">
						{{ post.content }}
					</div>
				</div>
			</div>
		</article>
	</section>

{% endblock %}