/* Include variables here */

/* *** *** *** *** *** *\
 *  Grid
\* *** *** *** *** *** */

// ** Base size
// This is what all REM and EM sizes will be based on:
$base-size: 16px;

// ** Breakpoints
// $breakpoint-sm: 0; We don't have a minimum width for sm breakpoint
$breakpoints: (
  sm: 390px,
  md: 768px,
  lg: 1440px,
  xl: 1920px,
  xxl: 3840px,
);

/* *** *** *** *** *** *\
 *  Colors
\* *** *** *** *** *** */

$primary: red;
$black: #0d0d12;
$white: #ffffff;
$grey-100: #f7f7f7;
$grey-400: #6c727f;

/* *** *** *** *** *** *\
 *  Spacings
\* *** *** *** *** *** */
