button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: inherit; /* no underline */
}

.button {
  padding: 16px 48px;
  border-radius: 4px;
  @extend .md;

  &--primary {
    border: 1px solid $white;
    background-color: $white;
    color: $black;
  }

  &--secondary {
    border: 1px solid $white;
    background-color: transparent;
    color: $grey-100;
  }
}
