h1,
.h1 {
  @extend .xl;
}

h2,
.h2 {
  @extend .lg;
}

h3,
.h3 {
}

h4,
.h4 {
}

p,
.p {
}

span,
.span {
}

blockquote,
.blockquote {
}

ul,
ol {
}

.xl {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 80px;
}

.lg {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.md {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
