{% extends "base.twig" %}

{% block content %}

	<section class="section">
		<div class="row">
			<div class="columns">
				<h1>{{ __('404', 'toto-starter') }}</h1>
				<p>{{ __('De pagina die je zocht is niet gevonden.', 'toto-starter') }}</p>
			</div>
		</div>
	</section>

{% endblock %}
