{% extends "base.twig" %}

{% block content %}
	{% include 'parts/search-form.twig' %}
		
	 	<section>
			<div class="row">
				<div class="columns">
					<h1>{{ search_query }}</h1>
				</div>
			</div>
	 	</section>

	 	<section class="section">
			{% for post in posts %}
				<div class="row">
					<div class="columns">
						
					</div>
				</div>
			{% endfor %} 		
	 	</section>

	</section>
{% endblock %}